<app-layout>
  <div class="login">
    <div class="login__logoContainer">
      <img ngSrc="/images/logo.png" alt="logo" width="117" height="29">
    </div>

    <form class="login__form" (submit)="onSubmit($event)">
      <h2 class="login__title">Вход</h2>

      <div class="login__inputWrapper">
        <app-input
          [value]="emailValue"
          (controlValue)="emailValue = $event"
          iconUrl="/icons/user.svg"
          placeholder="Email"
        />

        <app-password-input
          [value]="passwordValue"
          (controlValue)="passwordValue = $event"
          iconUrl="/icons/lock.svg"
          placeholder="Пароль"
        />
      </div>

      <app-button (clicked)="onSubmit($event)">
        Войти
      </app-button>
    </form>
  </div>
</app-layout>
