<app-input
  [value]="value()"
  [iconUrl]="iconUrl()"
  [type]="type()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  (controlValue)="onInput($event)"
>
  <button
    inputAction
    type="button"
    class="password-input__toggle"
    [attr.aria-label]="type() === 'password' ? 'Показать пароль' : 'Скрыть пароль'"
    (click)="onButtonToggleClick()"
  >
    <img
      class="password-input__icon"
      [src]="buttonIcon()"
      width="16"
      height="16"
      alt=""
    />
  </button>
</app-input>
